.btn {
    width: 40%;
    padding:2px;
    display:block;
    margin:15px;
    right:0;
    position:relative;
    top:5px;
    display:inline-block;
    float:right;
}

.inline {
    display:inline-block;
}

img {
    width:100%;
    height:auto;
}
p {
    text-indent:30px;
}
.text-paragraph {
    margin:15px;
}
footer {
    margin:15px;
    border-style:solid;
    border-color: black;
    border-width:1px;
    background-color:antiquewhite;
    text-align:center;
    bottom:0;
    
}
.img-container {
  float: left;
  width: 33.33%; /* three containers (use 25% for four, and 50% for two, etc) */
  padding: 5px; /* if you want space between the images */
}
#personal_care {
    width:25%;
}
#therapy1{
    width:15%;
    margin:10px;
}
#therapy2{
  width:50%;
  float:right;

  }
h1 {
    text-align:center;
}
.reference {
    font-style: italic;
    font-size:9;
    
}