.btn {
    width: 40%;
    padding:2px;
    display:block;
    margin:15px;
    right:0;
    position:relative;
    top:5px;
    display:inline-block;
    float:right;
    background-color:antiquewhite;
    border:black;
    color:black;
}

.inline {
    display:inline-block;
}

img {
    width:100%;
    height:auto;
    padding: 10px;
}
p {
    text-indent:30px;
}
.text-paragraph {
    margin:15px;
}
footer {
    margin:15px;
    border-style:solid;
    border-color: black;
    border-width:1px;
    background-color:antiquewhite;
    text-align:center;
    bottom:0;
    
}

#personal_care {
    width:25%;
}
#therapy1{
    width:15%;
    margin:10px;
}
#therapy2{
  width:50%;
  float:right;

  }
h1 {
    text-align:center;
}
.reference {
    font-style: italic;
    font-size: small;
    text-indent:0;
    
}
#challenge {
    width: 65%;
    left:0;
}

#church {
    width:65%;
    left:0;
}

.underline {
    text-decoration:underline;
}